@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
#nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: var(--transition);
}
#nav h1 {
  font-family: "Redressed", cursive;
}
#nav span,
.title {
  color: var(--text_primary);
}
.subtitle,
.btn-carousel {
  color: var(--text_primary_two);
}
.volunteering-banner .banner-left {
  width: 35%;
}
.volunteering-banner .banner-left img,
.about-clinic .banner-right img {
  width: 100%;
}
.volunteering-banner .banner-right {
  width: 65%;
}
@media screen and (max-width: 992px) {
  .volunteering-banner .banner-left,
  .volunteering-banner .banner-right,
  .about-clinic .banner-left,
  .about-clinic .banner-right {
    width: 100%;
  }
}
.card {
  transition: var(--transition);
}
.card:hover {
  -webkit-box-shadow: 0px 9px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 20px -9px rgba(0, 0, 0, 0.75);
}
.ScheduleAnAppointment {
  background: linear-gradient(to right, #0f4c81, #53cde2);
}
.item:hover {
  background: linear-gradient(to right, #11538d, #11538d);
}
.about-clinic .banner-right {
  width: 35%;
}
.about-clinic .banner-left {
  width: 65%;
}
