@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
#nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: var(--transition);
}
#nav h1 {
  font-family: "Redressed", cursive;
}
#nav span,
.title {
  color: var(--text_primary);
}
.subtitle,
.btn-carousel {
  color: var(--text_primary_two);
}
.banner-left {
  width: 35%;
}
.banner-left img {
  width: 80%;
}
.banner-right {
  width: 65%;
}
@media screen and (max-width: 992px) {
  .banner-left img {
    width: 100%;
  }
  .banner-left,
  .banner-right {
    width: 100%;
  }
}
