:root {
  --brand_primary: #0f4c81;
  --brand_secondary: #53cde2;
  --background: #f8f8f8;
  --text_primary: #022e57;
  --text_secondary: #0f4c81;
  --transition: 0.2s;
}
/* Width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background);
  cursor: pointer;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brand_primary_two);
  border-radius: 25px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--brand_primary);
  cursor: pointer;
}
