:root {
  --brand_primary: #0f4c81;
  --brand_primary_two: #ff96ad;
  --brand_secondary: #53cde2;
  --background: #f8f8f8;
  --text_primary: #022e57;
  --text_primary_two: #0f4c81;
  --text_secondary: #bac1c7;
  --transition: 0.2s;
}
