:root {
  --brand_primary: #ff96ad;
  --brand_primary_two: #0f4c81;
  --brand_secondary: #f33535;
  --background: #eef1f1;
  --text_primary: #022e57;
  --text_primary_two: #0f4c81;
  --text_secondary: #bac1c7;
  --transition: 0.2s;
}
